{% extends 'layout.html' %}

{% block styles %}
<style>
  body {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }

  td,
  th {
    color: white;
  }

  .col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
</style>
{% endblock %}

{% block main %}
<div class="w-50 m-auto">
  <h2>&#128372; Ingresar &#128372;</h2>

  <form method="post" action="/login" class="row my-5 border rounded p-5">
    <div class="col col-4">Email:</div>
    <div class="col col-8">
      <input required name="email" type="email" class="form-control" id="email" />
    </div>

    <div class="col col-4">Contraseña:</div>
    <div class="col col-8">
      <input required name="password" type="password" class="form-control" id="password" />
    </div>

    <div class="col-12 mt-2">
      <button class="bg-light m-auto btn">
        Ingresar
      </button>
    </div>
  </form>

  <a href="/register">Registrarse</a>
</div>
{% endblock %}


